APP_ENV=dev
COMMERCE7_API_KEY=your_commerce7_api_key
COMMERCE7_TENANT_ID=your_commerce7_tenant_id
COMMERCE7_APP_ID=dash
COMMERCE7_BASE_URL="https://api.commerce7.com/v1/"
VINTRACE_API_KEY=your_vintrace_api_key
VINTRACE_BASE_URL=https://us30.vintrace.net/bla
DASH_CACHE_KEY=dash_exec_cache_v1

#for staging
DOMAIN=some.domain.com